{%extends "base.html"%}
{% block 'content' %}
        <div class="row">
            <div class="col-lg-12">
            <table class="table table-striped" style="background:white;">
            <thead>
                <tr>
                    <th>Name, email</th>
                    <th>Age</th>
                    <th>Affiliation, address</th>
                    <th>Module</th>
                    <th>Status</th>
                    <th>Abstract</th>
                    <th>Code</th>
                    <th>Created</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for reg in object_list %}
                <tr>
                    <td>{{reg.get_title_display}} {{reg.name}} {{reg.surname}}<br><a href="mailto:{{reg.email}}">{{reg.email}}</a></td>
                    <td>{{reg.date_of_birth|timesince}}</td>
                    <td>{{reg.affiliation}}<br>{{reg.address}}</td>
                    <td>{{reg.get_module_display}}</td>
                    <td>{{reg.get_status_display}}</td>
                    <td>{%if reg.abstract %}<a href="{{ reg.abstract.url }}"><button class="btn btn-default">View abstract</button></a>{%endif%}</td>
                    <td>{{reg.code}}</td>
                    <td>{{reg.created|timesince}}</td>
                    <td><a href="{% url 'registration_update' reg.pk %}"><button class="btn btn-default">Edit</button></a></td>
                    <td>{% if not reg.accepted %}<a href="{% url 'registration_accept' reg.pk %}"><button class="btn btn-info">Accept</button></a>{% endif %}</td>
                    <td>{% if not reg.paid %}<a href="{% url 'registration_pay' reg.pk %}"><button class="btn btn-danger">Mark as paid</button></a>{% endif %}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody></table>
            </div>
        </div>
{% endblock %}
