{%extends "base.html"%}
{% block 'content' %}
        <div class="row">
            <div class="col-lg-12">
            <h2>
                        Are you sure you want to accept the registration : {{ reg }}
            </h2>
            <a class="btn btn-success" href="{% url 'registration_accepted' reg.pk %}">Yes accept</a>
            <a class="btn btn-warning pull-right" href="{% url 'registration_list' %}">No, go back to registration list</a>
            </div>
        </div>
{% endblock %}
