{%extends "base.html"%}
{% load bootstrap3 %}
{% block 'content' %}
        <div class="row">
            <div class="alert alert-success" role="alert">
                <h3>Thank you for registering for the 3rd European crystallographic school!</h3>
                <p>
                  If you registered as a student your abstract will be evaluated. If your abstract is accepted you will soon receive an e-mail with the information necessary to pay the registration fee and proceed to book your accommodation in Bol.<br> 
                  If you registered as a lecturer or an accompanying person, there is no need to upload your abstract. You will receive an e-mail shortly with the information on how to proceed.
                </p>
            <a class="btn" href="{% url 'home' %}">Back to home</a>
            </div>
        </div>
{% endblock %}
