<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS3 acceptance</title>
</head>
<body>
<table style="font-family:Helvetica;background-color: #fff;" cellspacing="0" cellpadding="5" valign="top">
<tr valign="top">
    <td>
    Dear {{reg.get_title_display}} {{reg.name}} {{reg.surname}}, 

    <p>
        It is our great pleasure to inform you that your abstract has been approved for
        the ECS3. 
    </p>

    <p>
        Your reference code for ECS3 is:<span style="color:red;font-weight:bold;">ECS3_{{reg.code}}<span>
    </p>

    <p>Now, please pay the Registration fee (according to your status), as soon as
    possible, by the bank transfer. 
    </p> 
    <table style="font-family:Helvetica;background-color: #fff;color:blue;" cellspacing="0" cellpadding="2" valign="top">
        <tr>
            <td></td>
            <td>Early bird</td>
            <td>Late bird</td>
        </tr>
        <tr>
            <td>Young* academic:</td>
            <td>350 €</td>
            <td>410 €</td>
        </tr>
        <tr>
            <td>Senior academic:</td>
            <td>430 €</td>
            <td>490 €</td>
        </tr>
        <tr>
            <td>Non academic:</td>
            <td>600 €</td>
            <td>660 €</td>
        </tr>
        <tr>
            <td>Accompanying person:</td>
            <td>250 €</td>
            <td>310 €</td>
        </tr>
        <tr>
        <td colspan="3">
            *undergraduate/Ph.D. student or post-doc researcher with a max. age of 32.
        </td>
        </tr>
    </table>
    <p>
        Deadline for payment of the early bird registration fee is May 15, 2016.
        Participants are advised to insure early payment.
    </p>    

    <p style="color:red;font-weight:bold;">
        IMPORTANT: if you have applied for bursary please DO NOT make any payments until
        you receive an e-mail from Bursary committee on April 7th, 2016.  
    </p>

    <p>
    To process your payment, use the following data:<br>
    <hr>
    <table style="font-family:Helvetica;color:#444;" cellspacing="0" cellpadding="2" valign="top">
        <tr>
            <td>Account holder name:</td>
            <td>Hrvatska udruga kristalografa, Bijenička 54, 10000 Zagreb, Hrvatska</td>
        </tr>
        <tr>
            <td>VAT:</td>
            <td>HR47378791658</tr>
        </tr>
        <tr>
            <td>Bank:</td>
            <td>Erste & Steiermärkische bank dd</tr>
        </tr>
        <tr>
            <td>Branch Address:</td>
            <td>Jadranski trg 3a, 51000 Rijeka, Hrvatska</tr>
        </tr>
        <tr>
            <td>IBAN:</td>
            <td>HR1524020061100637321</tr>
        </tr>
        <tr>
            <td>SWIFT/BIC:</td>
            <td>ESBCHR22</tr>
        </tr>
    </table>
    <hr>

    <p>
        Please indicate clearly your last name, and your reference
        code like this: {{reg.surname}}, ECS3_{{reg.code}}.
    </p>

   <p> Conformation of your attendance for the ECS3 will be send in an e-mail message
    after your registration fee has been received. You will also receive an
    additional e-mail with the invoice for payment of the accommodation option you
    have chosen in Registration form.
    </p>

    <p>
        Should you have any questions please do not hesitate to contact us.<br>
        With best regards,<br>
        Organising committee of the ECS3<br>
    </p>
    </td>

    <td>
        <img height="200" width="300" src="http://ecs3.ecanews.org/ECS3/ecs3.png">
    </td>
</tr>
</table>
</body>
</html>
