<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS3 acceptance</title>
</head>
<body>
<table style="font-family:Helvetica;background-color: #fff;" cellspacing="0" cellpadding="5" valign="top">
<tr valign="top">
    <td>
    Dear {{reg.get_title_display}} {{reg.name}} {{reg.surname}}, 

    <p>
        It is our great pleasure to confirm your attendance at ECS3. The receipt for
        your payment will be provided at the School's Registration Desk upon arrival.
    </p>

    <p>
        Shortly, you will be contacted by the BlueSun Hotel with the invoice and
        detailed instructions on how to proceed with payment of the accommodation option
        you have chosen in the Registration form. 
    </p>

    <p>
        For practical information about the travel please visit
        http://ecs3.ecanews.org/travel but should you have any additional questions do
        not hesitate to contact us!
    </p>

    <p>
        With best regards<br>
        Organizing committee of the ECS3.
    </p>
    </td>

    <td>
        <img height="200" width="300" src="http://ecs3.ecanews.org/ECS3/ecs3.png">
    </td>
</tr>
</table>
</body>
</html>
