<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS3 acceptance</title>
</head>
<body>
<table style="font-family:Helvetica;background-color: #fff;" cellspacing="0" cellpadding="5" valign="top">
<tr valign="top">
    <td>
    Dear {{reg.get_title_display}} {{reg.name}} {{reg.surname}}, 

    <p> It is our great pleasure to confirm your attendance at the HTCC2017.
The receipt for your payment will be provided at the Registration Desk upon
arrival.  </p>

    <p> Shortly, you will be contacted by the Valamar Hotels with the invoice
and detailed instructions on how to proceed with payment of the accommodation
option you have chosen in the Registration form.  </p>

    <p> For practical information about the travel please visit
http://htcc2017.org but should you have any additional questions do not
hesitate to contact us.  </p>

    <p> With best regards<br> Organizing committee of the HTCC2017.  </p> 
    </td>

    <td>
     <a href="http://www.htcc2017.org"><img height="200" width="300" src="https://static.wixstatic.com/media/3f76f8_0f4afc3f875a44259f1efc1e3a787491~mv2.jpg/v1/fill/w_312,h_144,al_c,q_80,usm_0.66_1.00_0.01/3f76f8_0f4afc3f875a44259f1efc1e3a787491~mv2.jpg"></a>
    </td>
</tr>
</table>
</body>
</html>
